@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #800020;
  --secondary-color: #F5F0E1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.primary-bg-clr{
  background-color: var(--primary-color) !important;
}

.secondary-bg-clr{
  background-color: var(--secondary-color) !important;

}

.primary-text-clr{
  color: #800020;
}
.fs-16{
  font-size: 16px !important;
}

.fs-32{
    font-size: 32px !important;

}